@model SWPSolution.ViewModels.Catalog.Blog.BlogDetailVM

@{
    ViewData["Title"] = "Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Details</h1>
    <div class="card mb-4">

        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Content)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Categories)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateCreate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StaffId)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>