@model SWPSolution.ViewModels.System.Users.ReviewVM

@{
    ViewData["Title"] = "Title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Details</h1>
    <div class="card mb-4">

        <div class="card-body">
            <div class="col-md-12">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.reviewId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.productId)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.memberId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.dateReview)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.grade)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.comment)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>