@using SWPSolution.ViewModels.Common;
@model PageResult<SWPSolution.ViewModels.System.Users.StaffInfoVM> // Updated model type

@{
    ViewData["Title"] = "Staffs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-4">Staff List</h1>

<div class="card mb-4">
    <div class="card-header">
        <form asp-action="Staffs" method="get" class="form-inline">
            <div class="input-group">
                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Search by keyword" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" onclick="window.location.href='/User/Staffs'" class="btn btn-dark">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Role</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Password)</td>
                                <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.ActionLink("Details", "StaffDetails", new { id = item.Id })</td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<nav aria-label="Page navigation" class="mt-4">
    @await Component.InvokeAsync("Pager", Model)
</nav>
